/* styles.css */

:root {
  --bg-color: #FFF;
  --text-color: #333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h2 {
    color: #ccc;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
}

label, input {
    margin-bottom: 10px;
}
